/*Variables*/
:root {
    --mainBorderColor: #c9d0e1;
    --mainTextColor: #a5abc5;
    --mainTextColorHeading: #6e768f;
    --footerBackgroundColor: #444a62;
}

/*Reset*/
body {
    margin: 0;
}

a, fieldset {
    all: unset;
}
main, section, fieldset {
    display: block;
}
/*Custom media*/
@custom-media --smallscreen (width < 1200px);
/*Custom selectors*/
@custom-selector :--content .site-header, .main-content;
@custom-selector :--button button, [role="button"];
@custom-selector :--sectionHeaderWithCounter
    .upload-documents-section,
    .languages-pairings-section,
    .select-tone-section,
    .how-urgent-job-section,
    .choose-payment-method-section;

/*Styles*/
html {
    counter-reset: header;

    color: var(--mainTextColor);
    background-color: #eceef4;

    font-family: 'Interval Sans Pro';
    font-size: 14px;
}
:--content {
    max-width: 1170px;
    margin: 0 auto;
}
@media (--smallscreen) {
    :--content {
        margin: 0 15px;
    }
}

.upload-file-btn,
:--button {
    padding: 16px 36px;

    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;

    border-width: 1px;
    border-style: solid;
    border-color: #000;
    border-radius: 4px;
    outline: none;

    font-weight: bold;
    .fa {
        margin-right: 0.8rem;

        vertical-align: middle;

        font-size: 1.4rem;
    }
}


.site-header {
    display: flex;

    height: 230px;

    align-items: center;
    justify-content: space-between;
    :--button {
        border-color: var(--mainBorderColor);
    }
}

.place-order {
    margin-bottom: 12px;

    color: #fff;
    border-color: #54aca9;
    background-color: #5fcac6;
}
.print-a-quote {
    color: #d7d8e0;
    border-color: #d7d8e0;
    background-color: #f7f7fa;
}

.main-content {
    margin-bottom: 128px;

    border: 1px solid var(--mainBorderColor);
    border-radius: 4px;
    background-color: #fff;
    .header-wrapper {
        display: flex;

        justify-content: space-between;
        .your-order-section,
        .help-center-section {
            padding: 25px 35px 20px 70px;

            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: var(--mainBorderColor);
            h2 {
                position: relative;

                margin-top: 0;

                text-transform: uppercase;

                color: var(--mainTextColorHeading);

                font-size: 18px;
                &::before {
                    position: absolute;
                    left: calc(-30px - 0.5em);

                    font-family: "FontAwesome";
                    font-size: 1.3em;
                }
            }
        }
        .your-order-section {
            display: flex;

            width: 133%;

            border-right-width: 1px;

            flex-grow: 2;
            justify-content: space-between;
            h2 {
                &::before {
                    content: "\f0b1";
                }
            }
            .your-order-wrapper {
                flex-grow: 1;
                .your-order-parameters {
                    width: 100%;
                    th {
                        text-align: left;
                        text-transform: uppercase;

                        color: var(--mainTextColorHeading);
                    }
                    td {
                        vertical-align: bottom;
                    }
                }
            }
            .your-order-buttons {
                .place-order,
                .print-a-quote {
                    display: block;
                }
            }
        }
        .help-center-section {
            flex-grow: 1;
            h2 {
                &::before {
                    content: "\f1cd";
                }
            }
            .contacts {
                display: flex;

                color: var(--mainTextColorHeading);

                font-weight: bold;

                justify-content: space-between;
            }
        }
    }
    .select-what-translate,
    :--sectionHeaderWithCounter {
        margin-bottom: 100px;
        padding-right: 100px;
        padding-left: 100px;
    }
    /* Section 0 */
    .select-what-translate {
        margin-bottom: 100px;
        padding-right: 100px;
        padding-left: 100px;

        text-align: center;
        h2 {
            display: inline-block;

            margin: 90px auto 72px;
            padding: 16px 6px;

            text-transform: uppercase;

            color: var(--mainTextColorHeading);
            border-bottom: 1px solid #d7d8e0;

            font-weight: normal;
        }
        .choose-translate-type {
            .button {
                padding: 25px 92px;
                .image,
                .description {
                    display: block;

                    margin: 0 auto;
                }
                .image {
                    margin-bottom: 18px;
                }
            }
        }
    }
    :--sectionHeaderWithCounter {
        .section-header {
            position: relative;

            display: inline-block;

            margin-bottom: 50px;

            font-weight: normal;
            &::before {
                position: absolute;
                top: calc(50% - 1em);
                left: -3em;

                width: 2em;
                height: 2em;

                content: counter(header);
                counter-increment: header;
                text-align: center;

                border: 1px solid var(--mainTextColorHeading);
                border-radius: 50%;

                font-weight: bold;
                line-height: 1.95em; /* For Firefox */
                line-height: calc(2em - 2px);

            }
        }
    }
    /* Section 1 */
    .upload-documents-section {
        .upload-file-btn {
            display: table;

            margin-bottom: 40px;

            color: #9098b8;
            border: 1px solid #d7d9e0;
            background-color: #f7f7fa;
            .upload-file {
                display: none;
            }
        }
        .uploaded-files {
            width: 100%;
            padding: 20px 30px;

            border: 1px solid #e6e8ee;
            border-radius: 4px;
            .fa-trash {
                cursor: pointer;

                font-size: 1.3em;
            }
            th {
                text-align: left;
                text-transform: uppercase;

                font-weight: normal;
            }
            th, td {
                padding: 10px;
            }
            td:first-child {
                .fa {
                    margin-right: 1em;
                }
            }
            th:last-child,
            td:last-child {
                text-align: center;
            }
        }
    }
    /* Section 2 */
    .languages-pairings-section {
        .language-from,
        .language-to {
            display: block;

            margin-bottom: 40px;
        }
        .language-prefix {
            display: inline-block;

            min-width: 60px;

            text-align: right;
            text-transform: uppercase;
        }
        .fa-trash {
            margin-left: -20px;

            cursor: pointer;
            vertical-align: middle;

            font-size: 1.5em;
        }
        .select-wrapper {
            margin-right: 25px;
            margin-left: 25px;
            margin-bottom: 25px;
        }
        .add-language {
            margin-right: 25px;
            margin-left: 25px;

            color: var(--mainTextColor);
            border: 1px solid #d7d8e0;
            border-radius: 4px;
            outline: none;
            background-color: #f7f7fa;
        }
    }
    .section-wrapper {
        display: flex;
    }
    /* Section 3 */
    .select-tone-section {
        .switch-buttons-wrapper {
            flex-direction: column;
        }
    }
    /* Section 4 */
    .how-urgent-job-section {
        flex-grow: 1;
        .timeline-selector-wrapper {
            margin-bottom: 60px;

            text-align: center;
            .timeline-selector {
                width: 86%;
            }
            .timeline-labels {
                display: flex;

                text-transform: uppercase;

                font-weight: bold;

                justify-content: space-between;
                .timeline-label {
                    cursor: pointer;
                }
                .active {
                    color: #edbe76;
                }
            }
        }
        .timeline-info {
            padding: 10px 50px;

            border: 1px solid #e6e8ee;
            border-radius: 4px;
            h2 {
                position: relative;

                color: #727895;

                font-weight: normal;
                &::before {
                    position: absolute;
                    left: calc(-24px - 0.5em);

                    content: "\f05a";

                    font-family: "FontAwesome";
                    font-size: 1.3em;
                }
            }
            em {
                text-transform: uppercase;

                color: #edbe76;

                font-weight: bold;
                font-style: normal;
            }
        }
    }
    /* Section 5 */
    .choose-payment-method-section {
        .sign-in-propose {
            margin-bottom: 40px;
        }
        .full-name-wrapper {
            margin-bottom: 30px;
        }
        .email-password-wrapper {
            margin-bottom: 60px;
        }
        .card-data-wrapper,
        .full-name-wrapper,
        .email-password-wrapper {
            label {
                display: inline-block;
                .prefix {
                    display: block;

                    padding: 10px;

                    text-transform: uppercase;
                }
            }
        }
        .email-password-wrapper {
            label {
                margin-right: 30px;
            }
        }
        .signup-full-name,
        .signup-email,
        .signup-password {
            position: relative;
            &:valid + .validation,
            &:invalid + .validation {
                position: relative;
                display: inline-block;
                line-height: 50px;
                &::after {
                    position: absolute;
                    left: -40px;
                    font-family: "FontAwesome";
                    font-size: 30px;
                }
            }
            &:invalid + .validation {
                &::after {
                    content: "\f057";
                    color: #e17776;
                }
            }
            &:valid + .validation {
                &::after {
                    content: "\f058";
                    color: #76a7e1;
                }
            }
        }
        .payment-method-wrapper {
            margin-bottom: 76px;
            .switch-buttons-wrapper {
                justify-content: flex-start;
                .button-holder {
                    margin-right: 30px;
                    .button {
                        display: flex;

                        width: 150px;
                        height: 75px;
                        .button-image {
                            margin: auto;

                            letter-spacing: 1rem;
                        }
                    }
                }
            }
        }
        .card-data-wrapper {
            margin-bottom: 100px;
            .card-field-holder {
                margin-right: 30px;
            }
            .signup-card-number-holder {
                position: relative;
                &::after {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;

                    content: "\f1f0";

                    font-family: "FontAwesome";
                    font-size: 30px;
                }
            }
            .signup-card-number {
                width: 380px;
                padding-right: 56px;
            }
            .signup-card-expiry-date {
                width: 170px;
                padding-right: 15px;

                text-align: center;
            }
            .signup-card-code {
                width: 100px;
                padding-right: 15px;
            }
        }
        .submit-wrapper {
            text-align: right;
            .agree-checkbox {
                display: none;
            }
            .agree-text {
                position: relative;
                &::before {
                    display: inline-block;

                    width: 1.2em;
                    height: 1.2em;
                    margin-top: -3px;
                    margin-right: 15px;

                    content: "";
                    vertical-align: middle;

                    border: 1px solid #7a7e9177;
                    border-radius: 4px;
                    background: linear-gradient(180deg,                                rgba(215,239,255,1) 2%,                                rgba(210,230,252,1) 13%,                                rgba(155,201,243,1) 45%,                                rgba(128,190,244,1) 53%,                                rgba(200,240,253,1) 90%,                                rgba(206,245,254,1) 93%);
                    background-color: red;
                    box-shadow: 0 0 16px -1px #7a7e91;                }
            }
            .submit-elements-wrapper {
                display: inline-block;
                margin-bottom: 30px;
            }
            .agree-checkbox:checked + .agree-text {
                &::after {
                    position: absolute;
                    top: -6px;
                    left: 2px;

                    content: "\F00C";

                    color: #041f39aa;

                    font-family: "FontAwesome";
                    font-size: 23px;
                }
            }
            .terms-and-conditions {
                margin-right: 40px;

                text-decoration: underline;
            }
            .place-order {
                margin-right: 30px;
            }
        }
    }
}

.site-footer {
    display: flex;

    padding: 100px;

    color: #b3b9d7;
    background-color: var(--footerBackgroundColor);

    justify-content: space-around;
    .section-header {
        position: relative;

        display: inline-block;

        font-weight: normal;
        &::before {
            position: absolute;
            top: calc(50% - 0.5em);
            left: -1.5em;

            content: "";

            font-family: "FontAwesome";
            font-size: 1.3em;
        }
    }
    .what-we-do {
        flex-basis: 15%;
        .section-header {
            &::before {
                content: "\f08a";
            }
        }
        .what-we-do-text {
            display: block;

            font-weight: normal;
            font-style: italic;
        }

    }
    .our-main-office {
        .section-header {
            &::before {
                content: "\f14e";
            }
        }
        .address {
            font-style: normal;
            p {
                margin-top: 0;
            }
        }
    }
    .connect-with-us {
        .section-header {
            &::before {
                content: "\f1e0";
            }
        }
        .social {
            margin: 0;
            padding-left: 0;

            list-style: none;
            li {
                margin-bottom: 10px;
            }
            .fa-stack {
                font-size: 1rem;
            }
        }
    }
}

.link {
    text-decoration: underline;

    text-decoration-color: var(--mainTextColor);
}

form:invalid {
    .place-order {
        opacity: 0.7;
    }
}

@media (width < 1024px) {
    .main-content {
        .header-wrapper {
            flex-wrap: wrap;
            .your-order-section {
                border-right-width: 0;
            }
        }
        .section-wrapper {
            flex-wrap: wrap;
        }
        .choose-payment-method-section {
            .submit-wrapper {
                text-align: left;
            }
            .full-name-wrapper {
                margin-bottom: 0;
            }
        }
    }
    .site-footer {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 0;
        .footer-logo,
        .what-we-do,
        .our-main-office,
        .connect-with-us {
            margin-bottom: 50px;
            order: 2;
        }
        .footer-logo {
            order: 1;
        }
    }
}

@media (width < 768px) {
    .main-content {

    }
}
